
#scheduleTbl, thead, tbody, td {
	width: 40vw;
	border: 2px solid grey;
	border-collapse: collapse;
}

#reviewBoard, thead, tfoot {
	width: 40vw;
	border: 2px solid grey;
	border-collapse: collapse;
}

td {
	padding: 10px 20px;
}

th {
	padding: 10px;
}

#scheduleTbl td {
	line-height: 2;
}
