.hpMainSection {
	margin: 20px auto;
	width: 50vw;
}

.scheduleTbl, .scheduleTbl thead, .scheduleTbl tbody, .scheduleTbl td {
	width: 40vw;
	border: 2px solid #c0c0c0;
	border-collapse: collapse;
}

.reviewBoard, .reviewBoard thead, .reviewBoard tfoot {
	width: 40vw;
	border: 2px solid #c0c0c0;
	border-collapse: collapse;
}

.reviewBoard td {
	border-top: 2px solid #c0c0c0;
	border-bottom: 2px solid #c0c0c0;
}

td {
	padding: 10px 20px;
}

th {
	padding: 10px;
}

.scheduleTbl td {
	line-height: 2;
}
